.searchContainer {
  margin-bottom: 10px;
  /* margin-left: 20px; */
  display: flex;
  justify-content: space-between;
}

.searchSelect {
  width: 33%;
  padding: 10px;
  border: 1px solid var(--global-border-color);
  border-radius: var(--global-radius);
  font-size: 14px;
  color: grey;
  text-align: center;
  text-align-last: center;
}

.searchSelect:focus {
  color: black;
  outline: none;
}
.searchSelect option {
  color: black;
  text-align: right;
}
.searchSelect option[disabled] {
  color: grey;
}
